@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
section {
    min-height: 100vh;
}
section h1 {
    position: relative;
    display: flex;
    font-size: 8em;
    letter-spacing: 70px;
    top: 37vh;
    padding: 30px 50px;
    -webkit-text-stroke: 1px rgb(138, 138, 138);
    -webkit-text-fill-color: white;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
.ban-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: circle(400px at center center);
}
.info {
    color: #000;
    position: relative;
    margin-top: 200vh;
    padding: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
    radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply,
    multiply;
}
.info-title {
    background: rgb(226, 226, 226);
    font-family: 'New Tegomin',serif;
    font-size: 4em;
    letter-spacing: 30px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-container {
    position: relative;
    background: rgb(192, 192, 192);
    width: 100%;
    height: 100%;
    padding: 30px;
}
.card {
    float: left;
    width: 40%;
    height: 30%;
}
.imgbx img {
    padding: 0px;
    width: 70%;
    overflow: hidden;
}
.info h3 {
    position: relative;
    padding-top: 30px;
    font-size: 3em;
}
.info-text {
    position: relative;
    padding-top: 30px;
    font-size: 2em;
    letter-spacing: 7px;
    line-height: 50px;
}
.media-link {
    position: relative;
    display: flex;
    bottom: 250px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.9;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #e1306c;
    color: white;
}

.timeline {
    counter-reset: num;
    margin: 50px 0px 150px 0px;
    padding: 0;
    counter-increment: num 2007;
}
.timeline li {
    list-style-type: none;
    float: left;
    width: 15%;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
}
.timeline li::before {
    content: counter(num);
    counter-increment: num 3;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 3px solid white;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background: #989898;
    letter-spacing: 0px;
}
.timeline li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #9aaeb3;
    top: 25px;
    left: -50%;
    z-index: -1;
}
.timeline li:first-child::after {
    content: none;
}
.timeline li.school {
    color: #ffffff;
}
.timeline li.school::before {
    border-color: #ffffff;
}
.timeline li.school + li::after {
    background-color: #ffffff;
}
.info-saying {
    font-size: 3em;
    line-height: 50px;
    padding-top: 30px;
}
.skill {
    color: #000;
    position: relative;
    padding: 50px;
    background: linear-gradient(to bottom, #D5DEE7 0%, #dce1ec 50%, #E2E7ED 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%),
    linear-gradient(33deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    background-blend-mode: normal,
    color-burn;
}
.bg-text {
    font-family: 'Yellowtail', cursive;
    background: linear-gradient(rgb(0, 0, 0),rgb(80, 80, 80));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 10em;
    opacity: 0.2;
}
.skill-title {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    font-size: 3em;
    font-family: 'DotGothic16',sans-serif;
    letter-spacing: 30px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.skill-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.box {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translateX(-50%,-50%);
    width: 1000px;
    height: 500px;
    background: transparent;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    display: flex;
}
.box .skill {
    position: relative;
    flex: 1;
    text-align: center;
}
.box .skill .graph {
    position: absolute;
    width: 50px;
    background: rgb(255, 255, 255);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%,-50%);
}
.box .skill .graph::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 0;
    background: linear-gradient(0deg,#225c8b, #7f9eaf);
}
.box .skill .graph::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255, 0.1);
}
.box .skill .graph .percent {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.box .skill .graph .lang {
    font-size: 20px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    background: #000000;
    padding: 2px 6px;
    border-radius: 4px;
}
.exp {
    color: #000;
    position: relative;
    padding: 50px;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.exp::before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.exp-title {
    background: linear-gradient(-180deg, #BCC5CE 0%, #b3c2d4 98%),
    radial-gradient(at top left, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: screen;
    font-family: ‘Noto Sans TC’, sans-serif;
    font-size: 3em;
    letter-spacing: 30px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exp-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-count: 3;
    column-gap: 10px;
}
.project {
    position: relative;
    left: 0;
    width: 500px;
    height: 700px;
    transition: 0.5s ease-out;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}
.project .imgbox {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project .imgbox img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s;
}
.project .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 1px;
    background: #dbdbdb;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.content .text1 {
    background: -webkit-linear-gradient(180deg,rgb(255, 255, 255), rgb(92, 155, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7em;
}
.content .text2 {
    background: -webkit-linear-gradient(180deg, rgb(255, 255, 255), rgb(226, 65, 65));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7em;
}
.content .text3 {
    background: -webkit-linear-gradient(180deg, rgb(255, 255, 255), rgb(218, 207, 57));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7em;
}
.project:hover .content{
    width: 100%;
    height: 75%;
    left: 0;
    bottom: 0;
}
.project .content p {
    font-size: 30px;
    letter-spacing: 10px;
}
.content .p1{
    color: rgb(92, 155, 238);
}
.content .p2 {
    color: rgb(226, 65, 65);
}
.content .p3 {
    color: rgb(218, 207, 57);
}